@import '../../styles/mixins';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(219, 219, 219, 0);
  transition: background-color 0.5s ease-in-out;
  z-index: -1;

  &[aria-expanded='true'] {
    background-color: rgba(219, 219, 219, 0.7);
    z-index: 0;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
.linkBox {
  background: #ffffff;
  box-shadow: -3px 4px 25px rgba(0, 0, 0, 0.03);
  border-radius: 13px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  cursor: pointer;

  & > div {
    padding: 0 22px;
  }
}
.container {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: $color-header-text;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
  z-index: 9998;

  &[aria-expanded='true'] {
    transform: translate(0);
  }

  .navItemList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 0;
    margin: 0;

    > div {
      font-size: 36px;
      cursor: pointer;
      font-family: 'PP Stellar', sans-serif;
      font-weight: bold;
      color: white;
      margin-bottom: 20px;
      width: 80%;
      display: flex;
      justify-content: center;

      &.currentRoute {
        color: #ef972c;
      }

      &.disabled {
        a {
          color: grey;
          cursor: not-allowed;
        }
      }

      a {
        text-decoration: none;
        text-align: center;

        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-position: under;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.navBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navIcon {
  width: 60px;
  height: 45px;
  position: absolute;
  top: 8px;
  right: 0;
  margin-left: 5px;
  transform: rotate(0deg) scale(0.4);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 9999;

  @media (min-width: 768px) {
    transform: rotate(0deg) scale(0.5);
    top: 35px;
  }

  &[aria-expanded='true'] {
    transform: rotate(0deg) scale(0.3);
  }

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: $color-header-text;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    &:nth-child(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 18px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 36px;
      transform-origin: left center;
    }
  }

  &[aria-expanded='true'] {
    span {
      background: white;
      &:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
      }
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
