@import '../../styles/mixins';

.container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 5px 30px -6px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
  padding: 0 20px;

  @media (min-width: 768px) {
    height: 116px;
    padding: 0 35px;
  }

  .headerLeft {
    display: flex;
    align-items: center;
    width: inherit;

    .logo {
      height: 33px;
      width: 85.5px;
      position: relative;
      cursor: pointer;
      margin-right: 20px;
      flex-shrink: 0;

      @media (min-width: 768px) {
        margin-right: 40px;
        height: 66px;
        width: 171px;
      }
    }
    .search {
      height: 40px;
      line-height: 40px;
      padding: 0 0px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      outline: none;
      background: transparent;
      border-radius: 59px;

      @media (min-width: 768px) {
        width: calc(100% - 260px);
      }
      @media (min-width: 1024px) {
        max-width: 512px;
        width: 100%;
      }

      @media (min-width: 1280px) {
        width: 512px;
      }
    }
  }

  .linkContainer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: $color-header-text;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    width: inherit;

    @media (min-width: 1024px) {
      display: flex;
    }

    .currentRoute {
      color: #ac70f6;
    }
  }
}
