.creatorAvatar {
  width: 24.89px;
  height: 25px;
  left: 20.95px;
  top: 17px;
  background: #000000;
  border-radius: 50%;
  margin-right: 10px;
}

.creratorName {
  font-size: 21px;
  font-weight: 500;
}
