.nftCard {
  width: calc(50% - 11px);
  border-radius: 21px;
  position: relative;
  overflow: hidden;

  @media (max-width: 991px) {
    width: 100%;
  }

  .cardImg {
    position: relative;
    padding-bottom: 70%;
    width: 100%;
  }
  .info {
    position: absolute;
    bottom: 7%;
    left: 7%;
    color: white;
    h3 {
      letter-spacing: 2px;
      font-family: 'Lyno';
      margin-bottom: 12px;
    }

    p {
      box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5.32138px);
      border-radius: 23.7126px;
      padding: 0px 15px;
      display: flex;
      align-items: center;
      height: 29px;
      font-size: 13px;
      line-height: 15px;
      color: white;
      background: linear-gradient(
        119.37deg,
        rgba(207, 174, 174, 0.4) -53.47%,
        rgba(255, 255, 255, 0.05) 69.7%
      );
      border: 1.08px solid;

      border-image-source: linear-gradient(
        105.04deg,
        #ffffff 1.69%,
        rgba(255, 255, 255, 0.249485) 15.86%,
        rgba(255, 255, 255, 0.196805) 36.61%,
        rgba(255, 255, 255, 0.1) 74.74%,
        #ffffff 89.9%
      );

      span {
        display: flex;
        width: 15px;
        height: 15px;
        background: #c4c4c4;
        border-radius: 50%;
        margin-right: 9px;
      }
    }
  }

  &.sizeMd {
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      right: 7%;
      font-size: 55px;
      line-height: 55px;
      h3 {
        margin-bottom: 0;
      }
      p {
        height: 39px;
        span {
          margin-right: 13px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
