@import '../../styles/mixins';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 135px auto 164px;
  max-width: 1270px;
  @media (max-width: 1049px) {
    flex-direction: column;
  }
}

.imageContainer {
  width: 50%;
  max-width: 623px;
  position: relative;
  max-width: 632px;
  max-height: 493px;
  border-radius: 34px;
  overflow: hidden;
  object-fit: contain;
  padding: 0;
  margin-bottom: 20px;
  @media (max-width: 1049px) {
    width: 100%;
  }
  @media (max-width: 667px) {
    width: 95%;
  }
}

.image {
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    padding-bottom: 78%;
  }
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title {
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 18px;
  @media (max-width: 400px) {
    font-size: 48px;
  }
}

.progressContainer {
  height: 30px;
  width: 271px;
  left: 116px;
  top: 189px;
  border-radius: 34px;
  box-shadow: 3px 4px 25px 0px #00000014;
}

.progressIndicator {
  position: relative;
  height: 100%;
  border-radius: 25px;
  -webkit-mask: linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0);
}

.progressIndicator::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: linear-gradient(96.61deg, #2c42b1 15.89%, #ac70f6 83.31%);
  border-radius: 5px;
}

.auction {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 24px;
}

.auctionWatch {
  font-size: 27px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  @media (max-width: 400px) {
    font-size: 24px;
  }
}

.detail {
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  h2 {
    margin-top: 16px;
    display: flex;
    align-items: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    border-right: 1px solid #d3d3d3;
    padding-right: 20px;
    svg {
      margin-right: 10px;
    }
  }
  h3 {
    margin-top: 16px;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    color: #7a7a7a;
  }
  @media (max-width: 400px) {
    padding: 13px;
  }
}

.bidBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;
  background: linear-gradient(180deg, #7200ff 50%, #000000 172.62%);
  border-radius: 13px;
  margin: 20px 0;
  h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
}

.artWork {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 11px 29px;
  font-size: 16px;
  line-height: 20.7px;
  margin: 20px;
  border: 2px #7200ff solid;
  border-radius: 10px;
  h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #7200ff;
    margin: 0;
    padding: 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
