@import '../../../styles/mixins';

.nftCard {
  flex-shrink: 0;
  width: 328px;
  border-radius: 21px;
  // margin: 0 10px;
  overflow: hidden;
  margin-bottom: 20px;

  .cardImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-header-text;
    width: 100%;
    height: 318px;
    img,
    video {
      height: 318px;
      max-height: 318px;
    }
  }
}
