@import "../../../styles/mixins";

.container {
  vertical-align: inherit;
  max-width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  flex-basis: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-width: 0px 0px 2px;
  min-height: 48px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  transition: all 0.12s ease-in-out 0s;
  .prefix {
    margin-right: 8px;
    vertical-align: inherit;
    max-width: 100%;
    flex-shrink: 0;
    flex-direction: column;
    flex-basis: auto;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
  }
  .wrapInput {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
    vertical-align: inherit;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    input {
      background: transparent;
      border-width: 0px;
      outline: none;
      font-size: 15px;
      font-family: inherit;
      font-weight: 500;
      vertical-align: inherit;
      width: 100%;
      overflow: hidden;
      padding: 0 px;
    }
  }
}
