.detailInfo {
  width: 430px;
}

.imgBox {
  max-height: 843px;
  height: calc(100vh - 116px);
  display: flex;
  justify-content: center;
  align-items: center;
  .detailImg {
    position: relative;
    height: 60%;
    width: -webkit-fill-available;
  }
}

.progressContainer {
  height: 30px;
  width: 271px;
  left: 116px;
  top: 189px;
  border-radius: 34px;
  box-shadow: 3px 4px 25px 0px #00000014;

  .progressIndicator {
    position: relative;
    height: 100%;
    border-radius: 25px;
    -webkit-mask: linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0);

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: linear-gradient(96.61deg, #2c42b1 15.89%, #ac70f6 83.31%);
      border-radius: 5px;
    }
  }
}

.auctionWatch {
  color: white;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;

  h6 {
    margin: 0 10px;
    span {
      font-size: 24px;
      font-weight: 100;
    }
  }

  @media (max-width: 400px) {
    font-size: 24px;
  }
}

.avatarImage {
  width: 164px;
  height: 164px;
  position: relative;
  margin-right: 65px;
  img {
    border-radius: 21px;
  }
}
.ownerName {
  h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
  }
  p {
    color: #7200ff;
  }
}

.userDescription {
  max-width: 540px;
  width: 100%;
}

@media (max-width: 1139px) {
  .avatarImage {
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }
  .ownerName {
    h2 {
      font-size: 30px;
      line-height: 41px;
    }
  }
}

.w-450 {
  max-width: 458px;
  width: 100%;
}

@media (max-width: 991px) {
  .userDescription .w-450,
  .userDescription {
    max-width: 100%;
  }
}
