.bidderBox {
  width: 220px;
  height: auto;
  padding: 20px 10px;
  margin-left: 0;
  flex-shrink: 0;
  & > div {
    padding-left: 6px;
    padding-right: 6px;
  }
  h4 {
    color: #676767;
  }
  h5 {
    color: #979797;
  }
}
