@import "../../../styles/mixins";

.avatarContainer {
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uploadedImage {
  min-height: 150px;
  padding: 32px 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  video,
  img {
    max-height: 500px;
    background: $color-header-text;
    border-radius: 15px;
  }
}

.forUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
  margin-top: 10px;
  justify-content: center;
  p {
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: 15px;
  }
  .btnChoose {
    input[type="file"] {
      display: none;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      width: 125px;
      height: 36px;
      cursor: pointer;
      font-weight: 700;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0.02em;
      color: #0066ff;
      border-radius: 50px;
    }
  }
}

.avatarArea {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  height: 120px;
  width: 120px;
  background: linear-gradient(135deg, #ed5356, #f9d649);
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  border: dot solid 1px;
  border-color: #ffffff;
  cursor: pointer;
  .btnRemove {
    cursor: pointer;
    position: absolute;
    background-color: #7200ff;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &:hover {
    .btnRemove {
      top: 0;
      right: 0;
      opacity: 1;
    }
  }
}
