@import '../../styles/mixins';

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  @media (max-width: 1280px) {
    flex-direction: column;
    padding-right: 0;
  }
}
.maxWidth {
  max-width: 1440px;
  margin: auto;
  padding-left: 34px;
  padding-right: 34px;
  @media (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.imageContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 909px;
  max-height: 658px;
  border-radius: 34px;
  overflow: hidden;
  object-fit: contain;
  padding: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  @media (max-width: 1049px) {
    width: 100%;
  }
  @media (max-width: 667px) {
    width: 95%;
  }
}

.image {
  width: 100%;
  position: relative;
  &::after {
    content: '';
    display: block;
    padding-bottom: 72.5%;
    @media (max-width: 850px) {
      padding-bottom: 578px;
    }
    @media (max-width: 620px) {
      padding-bottom: 405px;
    }
  }
  img {
    position: absolute;
    top: 0;
    // bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.auction {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #1f1f1f;
  padding: 33px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  h2 {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    svg {
      margin-right: 16px;
    }
    @media (max-width: 900px) {
      border-right: none;
    }
  }
  .auctionWatch {
    color: white;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;

    h6 {
      margin: 0 10px;
      span {
        font-size: 24px;
        font-weight: 100;
      }
    }

    @media (max-width: 400px) {
      font-size: 24px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  @media (max-width: 620px) {
    padding: 15px 5px;
  }
}

.creator {
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  border-radius: 29px;
  border: none;
  outline: none;
  box-shadow: -3px 4px 25px 0px #0000001a;

  .avatar {
    width: 24.89px;
    height: 25px;
    left: 20.95px;
    top: 17px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 10px;
  }

  .name {
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.detail {
  width: 380px;
  flex-direction: column;

  @media (max-width: 1280px) {
    width: 80%;
    margin-top: 50px;
  }
  h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    margin: 27px 0;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px;
  .bidBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 20px;
    background: linear-gradient(180deg, #7200ff 50%, #000000 172.62%);
    border-radius: 13px;
    margin: 20px 0;
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 0;
      color: #ffffff;
    }
  }

  .artWork {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 42px;
    padding: 11px 29px;
    font-size: 16px;
    line-height: 20.7px;
    margin: 20px;
    border: 2px #7200ff solid;
    border-radius: 10px;
    h3 {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      flex: none;
      order: 0;
      flex-grow: 0;
      color: #7200ff;
      margin: 0;
      padding: 0;
    }
  }
}
