.nickName {
  box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5.32138px);
  border-radius: 23.7126px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  height: 29px;
  font-size: 13px;
  line-height: 15px;
  color: white;
  position: relative;
  background: linear-gradient(
    135.04deg,
    #ffffff 1.69%,
    rgba(255, 255, 255, 0.249485) 15.86%,
    rgba(255, 255, 255, 0.196805) 36.61%,
    rgba(255, 255, 255, 0.1) 74.74%,
    #ffffff 89.9%
  );
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    left: 0.8px;
    top: 0.8px;
    right: 0.8px;
    bottom: 0.8px;
    z-index: -1;
    border-radius: 23.7126px;
    background: #1f1f1f;
  }
  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(
      119.37deg,
      rgba(207, 174, 174, 0.4) -53.47%,
      rgba(255, 255, 255, 0.05) 69.7%
    );
    left: 0.8px;
    top: 0.8px;
    right: 0.8px;
    bottom: 0.8px;
    z-index: -1;
    border-radius: 23.7126px;
  }

  span {
    display: flex;
    width: 15px;
    height: 15px;
    background: #c4c4c4;
    border-radius: 50%;
    margin-right: 9px;
  }
}
