@import "../../styles/mixins";

.container {
  margin: 0 auto;
  padding: 49px 35px;
  max-width: 1440px;
}

.top {
  display: flex;
  justify-content: space-between;
  color: #7d7d7d;
  border-bottom: 1px solid #7d7d7d;
  padding-bottom: 66px;
  a {
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
  .item {
    width: 220px;
    h1 {
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
    }
    p {
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }
    @media (max-width: 950px) {
      margin-top: 5px;
    }
  }
  .item_social {
    width: 220px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 950px) {
      justify-content: flex-start;
    }
  }
  .social {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 129px;
    h1 {
      font-size: 21px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
    }
    .icon {
      display: flex;
      justify-content: space-between;
      width: 129px;
    }
  }
}

.bottom {
  padding-top: 32.5px;
  padding-bottom: 32.5px;
  color: #7d7d7d;
  display: flex;
  justify-content: space-between;
  .logo {
    height: 42px;
    width: 141px;
    position: relative;
    cursor: pointer;
  }
  .leftSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin-left: 90px;
    }
    @media (max-width: 900px) {
      flex-direction: column;

      p {
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button {
      margin-top: 10px;
    }
    .logo {
      margin-bottom: 10px;
    }
  }
}
