@import 'theme/_color.scss';

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: normal;
  src: url('fonts/Helvetica Neue Medium Extended.ttf');
}

@font-face {
  font-family: 'Lyno';
  font-weight: normal;
  src: url('fonts/LynoJean.otf');
}

.dark {
  body {
    background-color: black;
  }
}
