@tailwind base;
@tailwind components;
@tailwind utilities;
@import './mixins';
@import 'theme/_color.scss';
@import './_profile.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* background-color: #1e242f; */
  font-size: 14px;
}
body {
  height: 100vh;
}
.h-body {
  height: calc(100vh - 56px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.lock-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:disabled {
  opacity: 0.6;
}

/* .btn {
  padding: 0 20px;
  border-radius: 7px;
  text-align: center;
  line-height: 30px;
}
.btn-sm {
  padding: 0 20px;
}
.btn-md {
  padding: 10px 30px;
} */
.bg-primary {
  background: #2464f8;
  color: white;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 2.5px;
  filter: none;
  transition: background-color 0.25s, filter 0.25s;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #5a5a60;
  transition: background-color 0.25s, filter 0.25s;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #5a5a60;
  border: 0px solid transparent;
  border-radius: 2.5px;
  filter: none;
  transition: background-color 0.25s, filter 0.25s;
}
::-webkit-scrollbar-thumb:active {
  filter: brightness(80%);
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 2.5px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.container {
  max-width: 1440px;
  padding: 0 34px;
  margin: 0 auto;
  &.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  @media (max-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.card-box {
  display: flex;
  overflow-x: auto;
}

.search_container {
  width: calc(100% - 140px);
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: $color-header-text;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 59px;
  box-shadow: -2px 2px 25px rgba(0, 0, 0, 0.05);

  @media (min-width: 768px) {
    width: calc(100% - 260px);
  }
  @media (min-width: 1024px) {
    max-width: 512px;
    width: 100%;
  }

  @media (min-width: 1280px) {
    width: 512px;
  }
}

.font-dropdown {
  color: #636363;
  font-size: 21px;
}

.dark {
  .font-dropdown {
    color: #959595;
    font-size: 21px;
  }
}

.linkBox {
  background: #ffffff;
  box-shadow: -3px 4px 25px rgba(0, 0, 0, 0.03);
  border-radius: 13px;
  height: 40px;
  min-width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;

  &.size-auto {
    height: auto;
    margin-left: 0;
  }

  & > div {
    padding: 0 22px;
  }
  &.rounded-21 {
    border-radius: 21px;
  }

  &.bg-transparent {
    background: transparent;
    button {
      background: transparent;
    }
  }

  // &.history-card {
  //   width: 212px;
  //   height: auto;
  //   padding: 20px 13px;
  // }
}
.linkBox.rounded-full {
  border-radius: 100px;
}
.creator {
  font-family: 'Helvetica Neue';
  display: flex;
  align-items: center;
  padding: 17px 22px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  border-radius: 29px;
  border: none;
  outline: none;
  box-shadow: -3px 4px 25px 0px #0000001a;
}
.mint-preview .creator {
  padding: 10px 20px;
}

.dark {
  .text-white-important {
    * {
      color: white !important;
    }
  }

  .search_container {
    box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5.32138px);
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    background: linear-gradient(
      150deg,
      rgba(255, 255, 255, 0.34) 1.69%,
      rgba(255, 255, 255, 0.0848247) 15.86%,
      rgba(255, 255, 255, 0.0669139) 36.61%,
      rgba(255, 255, 255, 0.034) 74.74%,
      rgba(255, 255, 255, 0.34) 89.9%
    );

    z-index: 5;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   background: #262626;
    //   left: 1.21px;
    //   top: 1.21px;
    //   right: 1.21px;
    //   bottom: 1.21px;
    //   z-index: -1;
    //   border-radius: 59px;
    // }
    &::after {
      content: '';
      position: absolute;
      background: #262626;
      left: 1.21px;
      top: 1.21px;
      right: 1.21px;
      bottom: 1.21px;
      z-index: -1;
      border-radius: 59px;
    }

    @media (min-width: 768px) {
      width: calc(100% - 260px);
    }
    @media (min-width: 1024px) {
      max-width: 512px;
      width: 100%;
    }

    @media (min-width: 1280px) {
      width: 512px;
    }
  }
  .linkBox {
    box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5.32138px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    background: linear-gradient(
      150.04deg,
      rgba(255, 255, 255, 0.34) 1.69%,
      rgba(255, 255, 255, 0.0848247) 15.86%,
      rgba(255, 255, 255, 0.0669139) 36.61%,
      rgba(255, 255, 255, 0.034) 74.74%,
      rgba(255, 255, 255, 0.34) 89.9%
    );

    &.angle-100 {
      background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0.34) 1.69%,
        rgba(255, 255, 255, 0.0848247) 15.86%,
        rgba(255, 255, 255, 0.0669139) 36.61%,
        rgba(255, 255, 255, 0.034) 74.74%,
        rgba(255, 255, 255, 0.34) 89.9%
      );
    }

    z-index: 5;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0.8px;
    //   top: 0.8px;
    //   right: 0.8px;
    //   bottom: 0.8px;
    //   z-index: -1;
    //   background: #1f1f1f;
    //   border-radius: 13px;
    // }
    // &.rounded-full::before {
    //   border-radius: 100px;
    // }
    &::after {
      content: '';
      position: absolute;
      background: #262626;
      left: 1.21px;
      top: 1.21px;
      right: 1.21px;
      bottom: 1.21px;
      z-index: -1;
      border-radius: 13px;
    }
    &.rounded-full::after {
      border-radius: 100px;
    }
    &.rounded-21::after {
      border-radius: 21px;
    }
    &.footer-link {
      width: 232px;
      height: 49px;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      color: #8b8b8b;
      background: linear-gradient(
        172.58deg,
        rgba(255, 255, 255, 0.55) -23.34%,
        rgba(255, 255, 255, 0) 42.44%,
        rgba(255, 255, 255, 0.125897) 125.14%,
        #07010d 150.96%
      );

      &::after {
        background: black;
        top: 1;
        left: 1;
        right: 1;
        bottom: 1;
      }
    }
    &.w-328 {
      color: #bcbcbc;
    }

    &.bg-transparent {
      button {
        background: transparent;
      }
    }
  }
  .creator {
    box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5.32138px);
    color: #c4c4c4;
    position: relative;
    background: linear-gradient(
      140.04deg,
      rgba(255, 255, 255, 0.34) 1.69%,
      rgba(255, 255, 255, 0.0848247) 32.86%,
      rgba(255, 255, 255, 0.0669139) 36.61%,
      rgba(255, 255, 255, 0.034) 67.74%,
      rgba(255, 255, 255, 0.34) 89.9%
    );
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      background: #1b1b1b;
      left: 1.21px;
      top: 1.21px;
      right: 1.21px;
      bottom: 1.21px;
      z-index: -1;
      border-radius: 29px;
    }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   background: linear-gradient(
    //     119.37deg,
    //     rgba(255, 255, 255, 0.0273) -53.47%,
    //     rgba(255, 255, 255, 0.0105) 69.7%
    //   );
    //   left: 1.21px;
    //   top: 1.21px;
    //   right: 1.21px;
    //   bottom: 1.21px;
    //   z-index: 0;
    //   border-radius: 29px;
    // }
  }
}

.react-datepicker__input-container {
  input {
    outline: none;
    background: transparent;
  }
}
.mint-preview {
  position: relative;
  width: 328px;
  &::after {
    content: '';
    position: absolute;
    z-index: 10;
    top: 318px;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.default-gradient-btn {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  height: 44px;
  width: 102px;
  font-family: 'Helvetica';
  font-size: 13px;
  line-height: 15px;
  cursor: pointer;
  box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5.32138px);
  color: white;
  position: relative;
  background: linear-gradient(
    135.04deg,
    #ffffff 1.69%,
    rgba(255, 255, 255, 0.249485) 30%,
    rgba(255, 255, 255, 0.196805) 36.61%,
    rgba(255, 255, 255, 0.1) 74.74%,
    #ffffff 89.9%
  );
  z-index: 5;

  &::before {
    content: '';
    position: absolute;
    left: 1.21px;
    top: 1.21px;
    right: 1.21px;
    bottom: 1.21px;
    z-index: -1;
    background: #1f1f1f;
    border-radius: 17px;
  }
  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(
      119.37deg,
      rgba(207, 174, 174, 0.4) -53.47%,
      rgba(255, 255, 255, 0.05) 69.7%
    );
    left: 1.21px;
    top: 1.21px;
    right: 1.21px;
    bottom: 1.21px;
    z-index: -1;
    border-radius: 17px;
  }
  &.btn-icon {
    width: 57px;
    height: 44.43px;
    svg {
      transform: scale(1.7);
    }
  }
}

.space-left {
  width: calc(50% - 11px);
  @media (max-width: 991px) {
    width: 100%;
    & > div {
      width: calc(50% - 11px);
    }
  }
  @media (max-width: 767px) {
    & > div {
      width: 100%;
    }
  }
}

.form-input {
  background: #ffffff;
  box-shadow: -3px 4px 25px rgba(0, 0, 0, 0.03);
  border-radius: 13px;
  min-height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.justify-start {
    justify-content: flex-start;
  }

  & > div {
    padding: 0 22px;
  }
  &.rounded-21 {
    border-radius: 21px;
  }

  & > input {
    width: 100%;
    height: 100%;
    outline: none;
    background: transparent;
    border: none;
    padding: 0 20px;

    &.input-el {
      border: 1px solid #979797;
      border-radius: 13px;
      padding: 16px 30px;
      width: 170px;
      text-align: center;
    }
  }

  &.trait-item {
    min-width: 150px;
  }
  &.size-auto {
    height: auto;
    min-height: auto;
  }
  &.size-auto {
    height: auto;
    min-height: auto;
  }

  button {
    background: transparent !important;
    height: 72px;
    padding: 0;
  }
  a {
    padding: 12px 36px !important;
  }

  @media (max-width: 767px) {
    min-height: 50px;
    button {
      height: 50px;
    }
  }
}
.dark {
  .form-input {
    box-shadow: 0px 2.12855px 12.7713px -0.532138px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5.32138px);
    color: white;
    position: relative;
    background: linear-gradient(
      150.04deg,
      rgba(255, 255, 255, 0.34) 1.69%,
      rgba(255, 255, 255, 0.0848247) 15.86%,
      rgba(255, 255, 255, 0.0669139) 36.61%,
      rgba(255, 255, 255, 0.034) 74.74%,
      rgba(255, 255, 255, 0.34) 89.9%
    );

    &::before {
      content: '';
      position: absolute;
      background: #1a1a1a;
      left: 1.21px;
      top: 1.21px;
      right: 1.21px;
      bottom: 1.21px;
      z-index: -1;
      border-radius: 13px;
    }
  }
}

.bg-btn-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background: linear-gradient(89.83deg, #c19af0 15.36%, #5b2194 49.92%);
  border-radius: 8px;
  z-index: 5;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #7200ff 50%, #000000 172.62%);
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    z-index: -1;
    border-radius: 8px;
  }
  &.sizeMd {
    width: 156px;
    height: 42px;
  }
  &.size-auto {
    width: auto;
    height: auto;
    padding: 9px 16px;
  }
  &.w-full {
    width: 100%;
  &.btn-price {
    border-radius: 13px;
    height: 48px;
    width: 100%;
    &::before {
      border-radius: 13px;
      font-weight: bold;
    }
  }
}

.w-328 {
  width: 328px !important;
  button {
    height: auto;
  }
}

.ReactModalPortal {
  div {
    z-index: 999 !important;
    padding: 4px !important;
  }
}
}